In [17]:
from pymongo.mongo_client import MongoClient
import pandas as pd
import json

In [18]:
# uniform resource indentifier
uri = "mongodb+srv://manishkumawat0803:sansad70@cluster0.necirxl.mongodb.net/?retryWrites=true&w=majority"



# Create a new client and connect to the server
client = MongoClient(uri)

In [19]:
# create database name and collection name
DATABASE_NAME="ThyroidProject"
COLLECTION_NAME="ThyroidDetection"

In [20]:
# read the data as a dataframe
df=pd.read_csv(r"D:\ThyroidDiseaseDetection\notebooks\data\thyroid.csv")

# Convert the data into json
json_record=list(json.loads(df.T.to_json()).values())

In [21]:
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,sick,...,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,Target
0,15,F,t,f,f,f,f,f,f,f,...,1.70,y,19,y,1.13,y,17,n,?,hypothyroid
1,24,M,f,f,f,f,f,f,f,f,...,0.20,y,4,y,1,y,0,n,?,hypothyroid
2,24,F,f,f,f,f,f,f,f,f,...,0.40,y,6,y,1.04,y,6,n,?,hypothyroid
3,77,M,f,f,f,f,f,f,f,f,...,1.20,y,57,y,1.28,y,44,n,?,hypothyroid
4,85,F,f,f,f,f,t,f,f,f,...,1.10,y,27,y,1.19,y,23,n,?,hypothyroid

In [22]:
# Convert the data into json
json_record=list(json.loads(df.T.to_json()).values())

In [23]:
#now dump the data into the database
client[DATABASE_NAME][COLLECTION_NAME].insert_many(json_record)